# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
/media/
/staticfiles/
/static/profile_pics/

# Environments
.env
venv/
env/

# VSCode
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
