accessVirt/
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
/media/
/staticfiles/
/static/profile_pics/

# Environments
.env
venv/
env/

# VSCode
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

#These simple instructions above tells Git to ignore the virtual environment directory and all *.pyc files, 
#ensuring a clean and efficient repository.

