{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/itreporting:home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/itreporting:about.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/itreporting:contact.css' %}" /> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

    <title>{% block title %}ARDENT HORIZON UNIVERSITY{% endblock %}</title>
</head>

<body class="{% block body_class %}{% endblock %}">

    <div class="container">
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'itreporting:home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'itreporting:about' %}">About</a>
                        <!--<a class="nav-item nav-link" href="{% url 'itreporting:report' %}">Report</a>-->
                        <a class="nav-item nav-link" href="{% url 'itreporting:contact' %}">Contact</a>
                        <a class="nav-item nav-link" href="{% url 'itreporting:module_list' %}">Module</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                            {% if user.is_authenticated  %} 
                            <a class="nav-item nav-link" href="{% url 'users:student' %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'itreporting:issue-create' %}">Report Issue</a>
                            <!--<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> -->
                                <form method="post" id="frm_logout" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <a class="nav-item nav-link" href="javascript:$('#frm_logout').submit();">Logout</a> 
                                </form>

                        
                            {% else %} 
                        
                                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a> 
                        
                                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a> 
                        
                            {% endif %}               
                    </div>
                </div>
                </div>
            </nav> 
        </header>

{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

        <div class="row">
            <div class="col-md-8">
            {% block content %}{% endblock %}
            </div>
            {% block sidebar %}{% endblock %}
            <div class="col-md-4">
                
                <div class="content-section">
                    <h3>General Information</h3>
                    <p class='text-muted'>Ardent Horizon University is a vibrant academic community dedicated to excellence in teaching, research, and student success. Located in the heart of England. Our university offers a wide range of undergraduate and postgraduate programs across diverse fields of study. With a commitment to innovation, inclusion, and global engagement, we empower students to reach their full potential and make a meaningful impact in the world. Our campus is home to state-of-the-art facilities, supportive faculty, and a dynamic student life experience designed to foster growth both inside and outside the classroom
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Issues Reported</li>
                        <li class="list-group-item list-group-item-light">IT Policies</li>
                        <li class="list-group-item list-group-item-light">IT Regulations</li>
                        <li class="list-group-item list-group-item-light">Upcoming Events</li>
                      </ul>
                    </p>
                  </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>