{% extends "itreporting/base.html" %}
{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Project URL Dashboard</h1>
  <ul class="list-group">

    <li class="list-group-item"><a href="/">Home</a></li>
    <li class="list-group-item"><a href="/about/">About</a></li>
    <li class="list-group-item"><a href="/contact/">Contact</a></li>
    <li class="list-group-item"><a href="/module/">Module List (Login Required)</a></li>
    <li class="list-group-item"><a href="/register/">Register for Module</a></li>
    <li class="list-group-item"><a href="/unregister/">Unregister from Module</a></li>
    <li class="list-group-item"><a href="/module/edit/">Edit Module</a></li>
    <li class="list-group-item"><a href="/module/delete/">Delete Module</a></li>

    <hr>
    <li class="list-group-item"><a href="/report/">All Issues</a></li>
    <li class="list-group-item"><a href="/issue/">All Issues (Alias)</a></li>
    <li class="list-group-item"><a href="/issue/new">Create New Issue</a></li>
    <li class="list-group-item"><a href="/issue/">View Issue</a></li>
    <li class="list-group-item"><a href="/issue/update/">Update Issue </a></li>
    <li class="list-group-item"><a href="/issue/delete/">Delete Issue </a></li>
    <li class="list-group-item"><a href="/issue/">Issues by User</a></li>

    <hr>
    <li class="list-group-item"><a href="/admin/">Admin Panel</a></li>
    <li class="list-group-item"><a href="/login/">Login</a></li>
    <li class="list-group-item"><a href="/logout/">Logout</a></li>

  </ul>
</div>
{% endblock %}
